 @media only screen and (min-width: 200px) and (max-width: 1300px) {

     .hero-content {
         margin-left: 25px;
     }

     .hero-right img {
         width: 280px;
         height: 280px;
     }

     .portfolio-overlay {
         width: 88%;
     }

     .faq-det-items {
         margin-left: 25px;
     }

     .faq-img img {
         width: 300px;
     }
 }

 /* This is for pad display section */
 @media only screen and (min-width: 200px) and (max-width: 980px) {
     .hero-and-menubar {
         height: 855px;
         background: khaki;
     }

     .hero-left .contact-me {
         margin-left: 25%;

     }

     .hero-content {
         width: 950px;

     }


     .hero-content,
     .about-us,
     .skills-bar,
     .summary {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .hero-right img {
         width: 320px;
         height: 320px;
         border: none;
         border-radius: 8px;
         margin-top: 20px;
         margin-left: 25%;
     }

     .about-us {
         margin-left: 10px;
     }

     .about-left {

         width: 700px;
     }

     .short-bio {
         margin-left: 15%;
         margin-top: 10%;
     }

     .exp-down {
         display: flex;
     }

     .short-bio .exp-name {
         width: 180px;
     }



     .custom-summary-media {
         margin-top: 10%;
     }

     .what-do-box {
         width: 580px;
         margin-left: 8%;
     }

     .what-do-box p {
         font-size: 16px;
     }

     .work-with-det {
         margin-top: 20%;
     }

     .work-with-det h1 {
         font-size: 35px;
     }

     .faq-img img {
         width: 240px;
     }


     .portfolio-overlay {
         width: 85%;
     }

     .overtaly-det h3 {
         font-size: 18px;
     }

     .overtaly-det p {
         font-size: 12px;
         margin-top: -15px;
     }

     .my-skill-head h3 {
         margin-left: -85px;
     }

     .skills-box {

         width: 750px;
     }
 }

 /* This is for mobile responsive */

 @media only screen and (min-width: 200px) and (max-width: 780px) {

     .menu-and-logo {
         width: 450px;
     }

     .hero-content {
         width: 440px;
     }

     .section-head h1 {
         font-size: 30px;
     }

     .hero-left {
         width: 480px;

     }

     .hero-left h3 {
         font-size: 28px;
     }

     .dynamic-text-con span {
         font-size: 55px;
     }

     .hero-right img {
         margin-left: -5px;
     }

     .exp-down {
         margin-left: -25px;
     }

     .exp-down .exp-name {
         width: 140px;
     }

     .about-left {
         width: 500px;

     }

     .about-left h3 {
         font-size: 25px;
     }

     .about-left h3 span {
         font-size: 30px;
         margin-left: 10px;
     }

     .about-left p {
         /* width: 450px; */
         font-size: 16px;
     }

     .what-do-box {
         width: 400px;

     }

     .summary-box {
         width: 450px;
     }

     .my-skill-head h3 {
         margin-left: 24px;
     }

     .skills-box {
         width: 450px;
     }

     .portfolio-btn a {
         font-size: 15px;
         padding: 0px 5px;
     }

     .portfolio-row {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .portfolio-box {
         width: 450px;
         height: 480px;
     }

     .portfolio-overlay {
         width: 92%;
         height: 92.5%;
     }

     .overtaly-det h3 {
         font-size: 28px;
     }

     .overtaly-det p {
         font-size: 18px;
         margin-top: 10px;
     }

     .work-with-det {
         margin-top: 25%;
     }

     .work-with-det h1 {
         font-size: 28px;
     }

     .faq-img img {
         display: none;
     }

     .custom-footer p {
         font-size: 12px;
     }

     .custom-footer a {
         font-size: 15px;
     }

 }

 @media only screen and (min-width: 200px) and (max-width: 680px) {

     .menu-and-logo {
         width: 450px;
     }

     .hero-content {
         width: 440px;
         margin-left: 50px;
     }

     .section-head h1 {
         font-size: 30px;
     }

     .hero-left {
         width: 480px;

     }

     .hero-left h3 {
         font-size: 28px;
     }

     .dynamic-text-con span {
         font-size: 55px;
     }



     .exp-down {
         margin-left: -25px;
     }

     .exp-down .exp-name {
         width: 140px;
     }

     .about-us {
         width: 450px;
         margin-left: 55px;
     }

     .about-left {
         width: 500px;

     }

     .about-left h3 {
         font-size: 25px;
     }

     .about-left h3 span {
         font-size: 30px;
         margin-left: 10px;
     }

     .about-left p {
         /* width: 450px; */
         font-size: 16px;
     }

     .what-do-box {
         width: 400px;
         margin-left: 65px;

     }

     .summary-box {
         width: 450px;
     }

     .my-skill-head h3 {
         margin-left: 24px;
     }

     .skills-box {
         width: 450px;
     }

     .portfolio-btn a {
         font-size: 15px;
         padding: 0px 5px;
     }

     .portfolio-row {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .portfolio-box {
         width: 450px;
         height: 480px;
     }

     .portfolio-overlay {
         width: 92%;
         height: 92.5%;
     }

     .overtaly-det h3 {
         font-size: 28px;
     }

     .overtaly-det p {
         font-size: 18px;
         margin-top: 10px;
     }

     .work-with-det {
         margin-top: 25%;
     }

     .work-with-det h1 {
         font-size: 28px;
     }

     .faq-img img {
         display: none;
     }

     .custom-footer p {
         font-size: 12px;
     }

     .custom-footer a {
         font-size: 15px;
     }

 }

 @media only screen and (min-width: 200px) and (max-width: 470px) {

     .menu-and-logo {
         width: 400px;
     }

     .hero-content {
         width: 363px;

     }

     .section-head h1 {
         font-size: 30px;
     }

     .hero-left {
         width: 400px;

     }

     .hero-left h3 {
         font-size: 22px;
     }



     .dynamic-text-con span {
         font-size: 45px;
     }



     .exp-down {
         margin-left: -25px;
     }

     .exp-down .exp-name {
         width: 140px;
     }

     .about-us {
         width: 350px;
         margin-left: 55px;
     }

     .about-left {
         width: 350px;

     }

     .about-left h3 {
         font-size: 25px;
     }

     .about-left h3 span {
         font-size: 30px;
         margin-left: 10px;
     }

     .about-left p {
         /* width: 450px; */
         font-size: 16px;
     }

     .what-do-box {
         width: 350px;
         margin-left: 65px;

     }

     .summary-box {
         width: 350px;
     }

     /* 
     .my-skill-head h3 {
         margin-left: 24px;
     } */

     /* .skills-box {
         width: 450px;
     }

     .portfolio-btn a {
         font-size: 15px;
         padding: 0px 5px;
     }

     .portfolio-row {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }

     .portfolio-box {
         width: 450px;
         height: 480px;
     }

     .portfolio-overlay {
         width: 92%;
         height: 92.5%;
     }

     .overtaly-det h3 {
         font-size: 28px;
     }

     .overtaly-det p {
         font-size: 18px;
         margin-top: 10px;
     }

     .work-with-det {
         margin-top: 25%;
     }

     .work-with-det h1 {
         font-size: 28px;
     }

     .faq-img img {
         display: none;
     }

     .custom-footer p {
         font-size: 12px;
     }

     .custom-footer a {
         font-size: 15px;
     } */

 }

 @media only screen and (min-width: 200px) and (max-width: 420px) {

     .section-head h1 {
         font-size: 23px;

     }


     .menubar-area {
         margin-right: 45px;
     }

     .hero-content {
         width: 415px;

     }

     .hero-left {
         width: 420px;
         margin-left: 45px;
     }

     .hero-left .contact-me {
         margin-left: 25px;
     }

     .what-do-box {
         margin-left: 10px;
     }

     .summary {
         margin-left: -45px;
     }

     .summary-card {
         width: 420px;
         background: rebeccapurple;
     }

     .skills-box {
         width: 380px;
     }

     .portfolio-box {
         width: 410px;
         height: 430px;
     }
 
 }